<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="occupationDao" class="com.hospo.hub.impl.OccupationsDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="employeeDao" class="com.hospo.hub.impl.EmployeeDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="employerDao" class="com.hospo.hub.impl.EmployerDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="jobDao" class="com.hospo.hub.impl.JobDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>
